---
---

$primaryColor: #6CC758;
$accentColor: #ddd;
$bgColor: white;

header {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo {
	display: inline-block;
	width: 49%;
	font-size: inherit;
	font-size: 2.0em;
}

#logo span {
	font-weight: 300;
	color: $accentColor;
}

#logo>a>span:first-child {
	color: $primaryColor;
}

#links {
	display: inline-block;;
	text-align: right;
	width: 49%;
}

#links a {
	padding-left: 4px;
	padding-right: 4px;
	font-weight: 300;
}

body {
	background-color: $bgColor;
	margin-bottom: 40px;
	font-size: .85em;
	font-family: 'Lato', sans-serif;
}

#content {
	margin: 0 auto;
	width: 600px;
}

h1 {
	text-align: center;
	color: $primaryColor;
	padding-bottom: 4px;
	width: 60%;
	// border-bottom: 1px solid black;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 3em;
	font-weight: 300;
}

a {
	color: $primaryColor;
	font-weight: 600;
	text-decoration: none;
}

.project-link {
	font-size: 1.2em;
}

.project-container {
	padding-bottom: 10px;
	padding-bottom: 10px;
}
