---
---

$primaryColor: green;
$accentColor: #ddd;
$bgColor: lighten($accentColor, 50%);

#header {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2.0em;
}

#header>a {
	color: $accentColor;
	font-weight: 300;
}

#header>a>span:first-child {
	color: $primaryColor;
}

body {
	background-color: $bgColor;
	font-size: .85em;
	font-family: 'Lato', sans-serif;
	margin-top: 20px;
}

#content {
	margin: 0 auto;
	width: 600px;
}

h1 {
	text-align: center;
	color: green;
	padding-bottom: 4px;
	width: 60%;
	// border-bottom: 1px solid black;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 3em;
	font-weight: 300;
}

a {
	color: $primaryColor;
	font-weight: 600;
	text-decoration: none;
}

.project-link {
	font-size: 1.2em;
}

.project-container {
	padding-bottom: 10px;
	padding-bottom: 10px;
}
